<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.awi.floenavigation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EntrySplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_main_activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginPage"
            android:configChanges="orientation"
            android:label="@string/label_activity_login_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AdminPageActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_admin_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".initialsetup.GridSetupActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_grid_setup"
            android:parentActivityName=".AdminPageActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminPageActivity" />
        </activity>
        <activity
            android:name=".deployment.DeploymentActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_deployment"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".initialsetup.SetupActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_setup"
            android:screenOrientation="landscape" />

        <service
            android:name=".initialsetup.SetupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".GPS_Service"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".aismessages.AISDecodingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".network.NetworkService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".AngleCalculationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".AlphaCalculationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ValidationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".PredictionService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".sample_measurement.SampleMeasurementActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_sample_measurement"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GridActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConfigurationActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_configuration"
            android:parentActivityName=".AdminPageActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminPageActivity" />
        </activity>
        <activity
            android:name=".AdminUserPwdActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_admin_user_pwd"
            android:parentActivityName=".AdminPageActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminPageActivity" />
        </activity>
        <activity
            android:name=".RecoveryActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_recovery"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".waypoint.WaypointActivity"
            android:configChanges="orientation"
            android:label="@string/label_activity_waypoint"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DialogActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ParameterViewActivity"
            android:configChanges="orientation"
            android:label="@string/label_parameter_view_activity"
            android:parentActivityName=".ConfigurationActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".ActionBarActivity" />

        <service
            android:name=".AuthenticatorService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".ListViewActivity"></activity>
    </application>

</manifest>